<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Page</title>
    <link rel="stylesheet" href="./public/css/style.css" />
  </head>
  <body>
    <div class="contact_form">
      <h3 class="contact_form__title">Contact Us</h3>
      <form method="POST" action="/sendemail">
        <div class="contact_form__inputGroup">
          <label>Name</label>
          <input type="text" name="name" placeholder="Please enter your name" />
        </div>
        <div class="contact_form__inputGroup">
          <label>Surname</label>
          <input
            type="text"
            name="surname"
            placeholder="Please enter your surname"
          />
        </div>
        <div class="contact_form__inputGroup">
          <label>Email</label>
          <input
            type="email"
            name="email"
            placeholder="Please enter your email"
          />
        </div>
        <button class="contact_form__submitBtn" type="submit">Send</button>
      </form>
    </div>
  </body>
</html>
