<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Sent</title>
    <link rel="stylesheet" href="./public/css/style.css" />
  </head>
  <body>
    <div class="sent_pageBox">
      <h2 class="sent_pageBox__title">You're email was sent</h2>
      <a class="sent_pageBox__Link" href="/">Back</a>
    </div>
  </body>
</html>
